@import "./variables.scss";
@import url('https://fonts.googleapis.com/css?family=Playfair:400|Poppins:400,200');
@import "~bootstrap/scss/bootstrap";
// @import "~react-typist/dist/Typist.css";

body {
  background-color: $background-color;
  color: white;
}

button:focus {
    border: none;
    outline: none;
}
