$background-color: #1b1b1e;
$primary: #db4747;

@import url('https://fonts.googleapis.com/css?family=Playfair|Poppins');
@import "~bootstrap/scss/bootstrap";
// @import "~react-typist/dist/Typist.css";

body {
  background-color: $background-color;
  color: white;
}
