@import "./variables.scss";

$lg: map-get($grid-breakpoints, lg);


@media only screen and (max-width: $lg) {
  sectionTitle {
    font-size: 3.8rem;
    line-height: 3.6rem;
  }
}

.firstScreen {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: 'Poppins';
}

.presentation {
  position: relative;
  top: 30vh;
}


.introP {
  position: relative;
  top: 1em;
}


#circle {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle,
   $primary 0%,
   $primary-darker 100%);
  animation-delay: 0.2s;
  animation-duration: 0.7s;
  animation-name: circle_appear;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.divided {
  display: flex;
  justify-content: space-between;
}

.centerLine {
  flex-grow: 1;
  border: 0.2px solid rgba(255, 255, 255, 0.02);
  height: 0px;
  margin: 0 20px 0 20px;
  position: relative;
  top: 0.7em;
}

.links > * {
  margin: 0px 5px 0px 5px;
}

@keyframes circle_appear {
  from {
    top: calc((-30vh) - 200px);
    right: -50px;
  }

  to {
    top: -50px;
    right: -50px;
    width: 100px;
    height: 100px;
    display: block;
  }
}

.icon {
  color: white;
  font-size: 0.9em;
}

.seeMore {
  font-size: 0.8em;
  color: $primary;
  font-weight: bold;
}
