@import "./variables.scss";
h1 {
  font-size: 5rem;
  font-family: 'Playfair Display';
  display: inline;
  padding: 0;
  line-height: 4.8rem;
}

.firstScreen {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: 'Poppins';
}

.presentation {
  position: relative;
  top: 30vh;
}

.hello {
  position: relative;
  top: 0.3em;
}

.introP {
  position: relative;
  top: 1em;
}


#circle {
  position: absolute;
  border-radius: 50%;
  background-color: $primary;
  animation-delay: 0.2s;
  animation-duration: 0.7s;
  animation-name: circle_appear;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes circle_appear {
  from {
    top: calc((-30vh) - 200px);
    right: -50px;
  }

  to {
    top: -50px;
    right: -50px;
    width: 100px;
    height: 100px;
    display: block;
  }
}
