@import "./variables.scss";
.card {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  margin-bottom: 20px;
}

.cardHeader {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  justify-content: space-between;
  padding: 0;
}

.linkingLine {
  width: 80%;
  left: 10%;
  height: 0px;
  border: 0.2px solid rgba(255, 255, 255, 0.01);
  position: absolute;
  top: 10px;
  display: inline;
  margin: 0 50px 0 50px;
}

.button {
  color: white;
  border: 0;
  background-color: transparent;
  display: flex;
  width: 100%;
  outline:none;
}

.showSign {
  position: absolute;
  right: 30px;
  color: white;
}

.icon {
  width: 0.55em !important;
}
